---
layout: default
title: TABITABITIZU - Москва и Подмосковье
---

{% include styles.md %}
  
  
<div class="container">
  <h1><a href="http://www.tabitabitizu.ru">江乃電の旅旅 - Tabitabitizu</a></h1>
   <p>&nbsp;</p>
  <h2>Москва и Подмосковье</h2>
  <p>См также:<a href="http://www.tabitabitizu.ru/moscow-list">другие отчеты</a>.</p>
  <p>&nbsp;</p>
<p>Мы живем в России и нам не страшно.</p>
<p><img src="https://lh3.googleusercontent.com/-90MDprIlRx4/WspaXATc_OI/AAAAAAAAPMs/Itm7hRb5mJITtkEeSZIJP3IdQM_3DsIvgCHMYBhgL/s1400/mos36.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Главной темой для обсуждения в 2018 году в Москве была реновация. Жителей некоторых пятиэтажек поначалу обделили.</p>
<p><img src="https://lh3.googleusercontent.com/-LK64mF2QCLQ/WspaXOBmr8I/AAAAAAAAPMs/Chpg2KcBlfIhH1r-lVFe9U9JXwIa1L78gCHMYBhgL/s1400/mos30.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Потом в список всех включили, конечно. Но ничего, они еще поплачут о своих подъездах и зелени.</p>
<p><img src="https://lh3.googleusercontent.com/-2taF0NPlCk8/WspaXLOTXVI/AAAAAAAAPMs/H8_Eq1DYNX8IOXjWtvcJtjYzNkNjCrELACHMYBhgL/s1400/mos11.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Пока всем показывают красивые картинки и макеты. Вот, полюбуйтесь, каким красивым будет ваше новое жилье. Сначала его обещали нетиповым и малоэтажным, но ничего такого не планируется: всех заселят в обычные панельные башни со стандартным ремонтом а-ля «евро».</p>
<p><img src="https://lh3.googleusercontent.com/-jfGq9QLhGmQ/WspaXJpouHI/AAAAAAAAPMs/iFUNpFyNAyg3-wfRukBu8M_gkceLgG-TgCHMYBhgL/s1400/mos40.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Даже для макета окна совершенно крошечные.</p>
<p><img src="https://lh3.googleusercontent.com/-6TXNS-Jnwq4/WspaXEq73HI/AAAAAAAAPMs/h4ogrsP6qjQ-sdIXkagqDSfVEKb2n3J3wCHMYBhgL/s1400/mos39.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>То, что наши сограждане в восторге от таких картинок, многое говорит о нашем обществе.</p>
<p><img src="https://lh3.googleusercontent.com/-_-C6wG9N6z8/WspaXCM3IgI/AAAAAAAAPMs/0vPimO5JEusHP10nFENLgQh48hx-x1UZwCHMYBhgL/s1400/mos32.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Отдельную дискуссию вызвало то, что под реновацию попали неплохие, в общем-то, сталинки и даже дореволюционные доходные дома.</p>
<p>Вот пример: ансамбль на улице Руставели. Дома очень красивые, теперь так строить не умеют.</p>
        <div id="myCarouse1" class="carousel slide" data-interval=false data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarouse1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarouse1" data-slide-to="1"></li>
      <li data-target="#myCarouse1" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://lh3.googleusercontent.com/-Wzks-yYtNmU/WspaXJtKwDI/AAAAAAAAPMs/4zQ-fFs-gfolcZNBGarJqq_nHiE2cmpxgCHMYBhgL/s1400/mos8.jpg" width="1400">
      </div>
      <div class="item">
        <img src="https://lh3.googleusercontent.com/-A5QWdlilS7w/WspaXHQlzxI/AAAAAAAAPMs/TTDhNl_a8L4SMQ_DNjkpwdf0xYr_j6DZQCHMYBhgL/s1400/mos16.jpg" width="1400">
      </div>
      <div class="item">
        <img src="https://lh3.googleusercontent.com/-rUsHnaR_VNQ/WspaXJ8ACjI/AAAAAAAAPMs/bztfo1eklD4Wvh63zfJn6ovBreY1kQbLgCHMYBhgL/s1400/mos25.jpg" width="1400">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarouse1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouse1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<p>&nbsp;</p>
<p>Лепнина, конечно, кое-где поотбилась, но это ерунда.</p>
<p><img src="https://lh3.googleusercontent.com/-2ZZ0roEsmZI/WspaXPKHbHI/AAAAAAAAPMs/n4LoUXIs98c5hNKnSuH8krEN-UnSkdTZgCHMYBhgL/s1400/mos29.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Этот и более 200 других домов решено было оставить и переделать под офисы, отели или элитное жилье на продажу, но большие сомнения, что некоторые из них вообще доживут до противоаварийных работ.</p>
<p><img src="https://lh3.googleusercontent.com/-MXKu3S_GBQE/WspaXHr1XyI/AAAAAAAAPMs/Wggk-8nCdaIW2p0Rso47KfoegazuEFrBQCHMYBhgL/s1400/mos18.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Балконы точно потребуется полностью демонтировать.</p>
<p><img src="https://lh3.googleusercontent.com/-AY4gb3daQO0/WspaXNDPcrI/AAAAAAAAPMs/foEuORWDbckDGDlDKGIZHoOhRExN_CM4QCHMYBhgL/s1400/mos24.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Восьмиэтажные сталинки на той же улице Руставели реновировать не будут, и то хорошо.</p>
<p><img src="https://lh3.googleusercontent.com/-4kzPDoxR65I/WspaXGF3ViI/AAAAAAAAPMs/F2gROgbXx_s6LIeWfWm3KMpvMipykD2oQCHMYBhgL/s1400/mos7.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Вот этот дом тоже под реновацию не попал.</p>
<p><img src="https://lh3.googleusercontent.com/-1Wmsbjz1KGk/WspaXAc4KMI/AAAAAAAAPMs/6DMVYvWwTdspMbErGGqc3_9IPduRXE5aQCHMYBhgL/s1400/mos15.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Административные здания из ансамбля на Руставели тем более сносить и расселять не собираются.</p>
<p><img src="https://lh3.googleusercontent.com/-r-nI_2EE3O8/WspaXMLjBfI/AAAAAAAAPMs/jZA-yRcl0WgAkcZHdX2ZknZDPLozwx8mgCHMYBhgL/s1400/mos28.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>И это только один из десятков ансамблей, которые едва не пустили на слом без разбора!</p>
<p><img src="https://lh3.googleusercontent.com/-X7DiAhYj6MY/WspaXHNxU-I/AAAAAAAAPMs/vXCT2Ch-DbABRoQIaDnZrxPQHIW2IaQWQCHMYBhgL/s1400/mos5.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Осмотрим московские новостройки — район Переделкино-ближнее (поселение Внуково).</p>
<p><img src="https://lh3.googleusercontent.com/-NlngIU4gcUQ/WspaXCx_Z9I/AAAAAAAAPMw/khf0itGnENwn1UHs93Uc5zC4P2FsqgSDQCHMYBhgL/s1400/mos14.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Все заставлено машинами, но определенные наметки на нормальные дворы имеются.</p>
<p><img src="https://lh3.googleusercontent.com/-gPqgz3ockOQ/WspaXGg-ScI/AAAAAAAAPMs/SZVEbh-_Q3E36YnAlx9WPhKoynMJ--hKgCHMYBhgL/s1400/mos26.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>На некоторых из домов заранее предусмотрели решетки, чтобы за ними прятать кондиционеры. Но не предусмотрели, что жильцам может не хватить одного кондиционера.</p>
        <div id="myCarouse2" class="carousel slide" data-interval=false data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarouse2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarouse2" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://lh3.googleusercontent.com/-61rAEul_fF8/WspaXP-DW_I/AAAAAAAAPMs/B293nB7CfBk9XW8dnfEEpBuMWr0pbPtmgCHMYBhgL/s1400/mos27.jpg width="1400">
      </div>
      <div class="item">
        <img src="https://lh3.googleusercontent.com/-XU7ibvhc9ss/WspaXIq8EMI/AAAAAAAAPMs/Bds192SKp1YhS9fNeIH5ZzI62ZcjhYIEQCHMYBhgL/s1400/mos17.jpg" width="1400">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarouse1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouse1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<p>&nbsp;</p>
<p>Но помойки научились прятать, причем не в очень стыдные закутки.</p>
<p><img src="https://lh3.googleusercontent.com/-tQcU9BszbDA/WspaXGosGsI/AAAAAAAAPMs/aTp0iq-BQUEKeLlHzHyY8SxIR-WQhyktACHMYBhgL/s1400/mos22.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Во время прогулок по Москве в районе Дубровки можно набрести на ассирийский храм.</p>
<p><img src="https://lh3.googleusercontent.com/-z3wZFVpZdUs/WspaXIwFBaI/AAAAAAAAPMs/OknPTjmvCFIiCSmp_OT1StcT0D-qWfaWwCHMYBhgL/s1400/mos2.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>На башню волшебника (территория ветеринарной академии имении Скрябина).</p>
<p><img src="https://lh3.googleusercontent.com/-caJeeY1dfeQ/WspaXH5VSMI/AAAAAAAAPMs/H3l9YcwBna03hunR_-XBVgnd3kXPRyvEQCHMYBhgL/s1400/mos9.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>На образцово китчевые дворы.</p>
<p><img src="https://lh3.googleusercontent.com/-ahaLGiGmzpE/WspaXAL-yiI/AAAAAAAAPMs/h-JN3dqU9Mwpk4l1itIiDzixxEVF4DGAACHMYBhgL/s1400/mos1.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>На ралли заморских инвалидок.</p>
<p><img src="https://lh3.googleusercontent.com/-nNeR8qey1-w/WspaXNrqoLI/AAAAAAAAPMs/xxT2ky_y5VQWOYPufQz4iZV2h-IXtkWEwCHMYBhgL/s1400/mos6.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Обратил внимание, что в Москве мачты с передатчиками сотовой связи именуют «опорами двойного назначения». Не удивлюсь, если в них заодно какой-нибудь калибратов системы противоракетной обороны прикручен. Раз двойное назначение-то!</p>
<p><img src="https://lh3.googleusercontent.com/-1RlVIi8Bopw/WspaXMuyqzI/AAAAAAAAPMs/k4edgs7lhv4NXqWwI-fxJ8zSQidVL3T3gCHMYBhgL/s1400/mos12.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Дом фаната Space Invaders.</p>
<p><img src="https://lh3.googleusercontent.com/-5KQiQZFsQyE/WspaXLjHp_I/AAAAAAAAPMs/VtgCdNFQfGgrp-40jHpDC9-_u8_71JASwCHMYBhgL/s1400/mos3.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Рядом с проспектом Мира во дворах спрятался Дом-музей Виктора Васнецова, очень хороший.</p>
<p><img src="https://lh3.googleusercontent.com/-4etO3XhMbUM/WspaXPffs4I/AAAAAAAAPMs/aNrg3elgsggwrcyPc5zf2D6Iz-vrIW1DACHMYBhgL/s1400/mos41.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Печальная заброшка на улице Щепкина</p>
<p><img src="https://lh3.googleusercontent.com/-kkFEcqxIDQ8/WspaXKBLleI/AAAAAAAAPMs/voPjBDnBWLkcLcUiVrsTyVg6Bw85rO5LwCHMYBhgL/s1400/mos31.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Граффити на Гиляровского.</p>
<p><img src="https://lh3.googleusercontent.com/-0MPHhMfpUg8/WspaXIPRzMI/AAAAAAAAPMs/lSLS1k6wThwNMbGZcybJLAtq7YmqcOOHQCHMYBhgL/s1400/mos33.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Инфернально дорогие новостройки в Нагатинском затоне.</p>
<p><img src="https://lh3.googleusercontent.com/-ag8O5gtgeZw/WspaXLpKEyI/AAAAAAAAPMs/7_SWl_epvaAEWUxPHzZxzkVPscl90C86ACHMYBhgL/s1400/mos34.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>В Москву привозили на обкатку китайский электробус. Прямо с номерами из КНР.</p>
<p><img src="https://lh3.googleusercontent.com/-DTh8IxKz5Ss/WspaXIeWYbI/AAAAAAAAPMs/6IAVvql2hJYiUfn0Dy6vHTaIrNL7n6ohACHMYBhgL/s1400/mos35.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Теперь поехали в Подмосковье. Электрички ЦППК летом частенько ездят с открытыми дверьми. Без кондиционеров в жару даже спасает немного.</p>
<p><img src="https://lh3.googleusercontent.com/--Yyn8ksLO4w/WspaXM_mlqI/AAAAAAAAPMs/r7QgqYUr1AIM5W_q23pE7y5ptsBvVU9WgCHMYBhgL/s1400/mos37.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>С Архангельским все понятно — тут как всегда хорошо, даже и говорить не о чем.</p>
<p><img src="https://lh3.googleusercontent.com/-2lmbbyPB5eg/WspaXCq-PWI/AAAAAAAAPMs/dhgpNrJjcOgnaQyo3WotypZflVKlmbX2gCHMYBhgL/s1400/mos38.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Напоследок было интересно побывать в усадьбе Любвино рядом с городом Тучково, что по Можайскому шоссе.</p>
<p><img src="https://lh3.googleusercontent.com/-_oqYQsA8nQs/WspaXLhhypI/AAAAAAAAPMs/o4gIWPo0AskDFAp8wkrbB7OpdiJii00FgCHMYBhgL/s1400/mos19.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Сама усадьба закрыта, вокруг все разрушено. Но вот зато котики.</p>
<p><img src="https://lh3.googleusercontent.com/-isLtIPhC85E/WspaXGjxXwI/AAAAAAAAPMs/D-dFwNkOir4NGNYdXUIVwVaqlKx7YQtBQCHMYBhgL/s1400/mos23.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Заросший вид с террасы на Москву-реку.</p>
<p><img src="https://lh3.googleusercontent.com/-RNgKTeYacA4/WspaXOzSLZI/AAAAAAAAPMs/l9hIsDMQ_r0G_MlIz3XfFZ_BDJcI1AkCQCHMYBhgL/s1400/mos20.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>В советское время здесь находился пионер-лагерь.</p>
<p><img src="https://lh3.googleusercontent.com/-rkn9jSv8Y-0/WspaXBXfTDI/AAAAAAAAPMs/hxTg-ULVLjs2kNpz1i_eVLdebfAc975kQCHMYBhgL/s1400/mos13.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Сейчас просто понурая зона для прогулок.</p>
<p><img src="https://lh3.googleusercontent.com/-SSPsQpYhmds/WspaXH84b7I/AAAAAAAAPMs/x85caL641OA-H1YT0G2BJPPUOf9RatBHACHMYBhgL/s1400/mos10.jpg" width="1400" class="img-responsive" /></p>
<p>&nbsp;</p>
<p>Вокруг усадьбы Любвино стоит мертвый лес.</p>
<p><img src="https://lh3.googleusercontent.com/-wxBhvb-eEKc/WspaXAX4gOI/AAAAAAAAPMs/bucULm74mDU_tjxNVQ575mHXCxbH_HOkgCHMYBhgL/s1400/mos4.jpg" width="1400" class="img-responsive" /></p>
<table border="0" cellspacing="0" style="font-size:10pt;line-height:1.6;border-collapse:collapse;border-width:0px"><tbody><tr><td style="width:700px;height:29px">&lt;&lt; <a href="http://www.tabitabitizu.ru/malta-part-2">Мальта. Часть II</a> &lt;&lt; <a href="http://www.tabitabitizu.ru/malta-part-3">Мальта. Часть III</a>
</td>
<td style="text-align:right;width:700px;height:29px"><span style="color:rgb(0,0,0)">&gt;&gt;</td></tr></tbody></table>
    </div>
{% include footer.md %}
