---
layout: default
---

{% include styles.md %}
  
  
<div class="container">
  <h1>Зеленоград</h1>      
  <p>В 1960-х годах в районе подмосковной деревни Крюково решили создать научный центр для разработки микроэлектроники. Назвали его Зеленоградом. В планах правительства тех времен планировалось, что это будет как бы район Москвы со всеми причитающимися «плюшками» и подобающим снабжением, но в то же время — образцовый и самостоятельный город в зеленой зоне не слишком близко, но и не слишком далеко от столицы. За счет мощной электронной промышленности из этой «силиконовой долины» не планировалось маятниковой миграции. Застроить Зеленоград планировалось зданиями по индивидуальным проектам.
</p>
<p>Но что-то пошло не так.
</p>
  <p><img src="https://lh3.googleusercontent.com/-KIBl3kPcJnw/WsPQULrhY1I/AAAAAAAAPLE/9z0MavIYAd8I8j_h76BfyQEtWBBparQGACHMYBhgL/s2500/zelen2.jpg" width="1400" class="img-responsive" ></p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <p>Здесь любят надземные пешеходные переходы.</p>

    <div id="myCarousel" class="carousel slide" data-interval=false data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://lh3.googleusercontent.com/-3xFZoCfyPRk/WsPQUDVdIKI/AAAAAAAAPLE/d71fhYlTOOAGltoiwdXGtWclEFGUgwf0gCHMYBhgL/s2500/zelen3.jpg" width="1400">
      </div>

      <div class="item">
        <img src="https://lh3.googleusercontent.com/-S1JrywKSOzQ/WsPQUGXLP4I/AAAAAAAAPLE/kHGVl7tMkAIfHOhL0E6IQflxFAp6A5HLgCHMYBhgL/s2500/zelen12.jpg" width="1400">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
  <p>Страшноватые скульптуры.</p>
  <p><img src=https://lh3.googleusercontent.com/-di68zne9Khk/WsPQUOtX56I/AAAAAAAAPLE/To61d1C7D8IQgdF0nnj6JuedYYb-nelawCHMYBhgL/s2500/zelen4.jpg" width="1400" class="img-responsive" ></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
  <p>В 3-ем микрорайоне есть даже немного нетиповой застройки.</p>  
    <p><img src="https://lh3.googleusercontent.com/-YopyWPGBUis/WsPQUOzj4-I/AAAAAAAAPLE/nWoi55ZT0s89Ic96YpNX7bnF2qxZBw_vQCHMYBhgL/s2500/zelen15.jpg" width="1400" class="img-responsive" ></p>          
   <p>&nbsp;</p>
   <p>&nbsp;</p>
<p>Особенно примечателен дом-флейта, возведенный в 1969 году.</p>
        <div id="myCarouse2" class="carousel slide" data-interval=false data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarouse2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarouse2" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://lh3.googleusercontent.com/-KCZ82dYnHls/WsPQUNC2cJI/AAAAAAAAPLE/16ROWzXo19IXhyIu-cMKeQr4iN4FPFliwCHMYBhgL/s2500/zelen1.jpg" width="1400">
      </div>

      <div class="item">
        <img src="https://lh3.googleusercontent.com/-gK9MeCvMFfE/WsPQUG_v7cI/AAAAAAAAPLE/36RQPnyoo2Q60szLwueJ142-ngQhYuSsQCHMYBhgL/s2500/zelen9.jpg" width="1400">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarouse2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouse2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>Он частично стоит на «ножках».</p>
<p><img src="https://lh3.googleusercontent.com/-p9mFxP3pHCw/WsPQUJh3dII/AAAAAAAAPLE/LuPLCcBLTM4rUqo-IFoxp_ASHY21S3W6gCHMYBhgL/s2500/zelen8.jpg" width="1400" class="img-responsive" /></p><p>Как эффективно использовать это пространство? Конечно же занять автомобилями!</p>
<p><img src="https://lh3.googleusercontent.com/-zVp8wNHj4XU/WsPQUOlVqSI/AAAAAAAAPLE/wOltLjAWhvATn50vcc59d_WSnBqx9KHxgCHMYBhgL/s2500/zelen7.jpg" width="1400" class="img-responsive" /></p><p>Со дворовой стороны все окна очень узкие.</p>
<p><img src="https://lh3.googleusercontent.com/-2QH4lM20M-c/WsPQUE14sdI/AAAAAAAAPLE/XVu6TBrYJ9YNloIFPEkg94S9nCvzMv9MgCHMYBhgL/s2500/zelen5.jpg" width="1400" class="img-responsive" /></p><p>Остекление лестничных маршей.<br /></div><div><br /><img src="https://lh3.googleusercontent.com/-LfvyBGE99wk/WsPQUIh8KfI/AAAAAAAAPLE/E0_KFzfPEksy9CibqtZvmSjx92kFI_BvACHMYBhgL/s912/zelen13.jpg" /><br /><br /><br /></div><div>Подъезды в 1969 году выглядели наверняка приличнее.</p>
<p><img src="https://lh3.googleusercontent.com/-mqwJ8cPZWCk/WsPQUCje9fI/AAAAAAAAPLE/tiQA1QxJU0Y2WCjaau8VpnP2F8TcmnKvwCHMYBhgL/s2500/zelen11.jpg" width="1400" class="img-responsive" /></p><p>Еще можно заглянуть в здание ДК. Его заложили в 1960-х годах, но из-за хронической нехватки средств доделали лишь в 1983 году. Внутри образцовый позднесоветский брутализм.</p>
<p><img src="https://lh3.googleusercontent.com/-RRfw37UqNRU/WsPQUKZtrvI/AAAAAAAAPLE/eLQs64MVdBgUn4HpHEgCTUep_LT9u8d6wCHMYBhgL/s2500/zelen6.jpg" width="1400" class="img-responsive" /></p><p>Полы из битого мрамора и кофейня «Даблби».</p>
<p><img src="https://lh3.googleusercontent.com/-UUZTAJzZC-8/WsPQUEAfCLI/AAAAAAAAPLE/B6k6CoC8ILYxFSG--8_rzo57rRssV8N7gCHMYBhgL/s2500/zelen10.jpg" width="1400" class="img-responsive" /></p><p>Корпуса НПО «Научный центр» и прочие промзоны в Зеленограде уже не создают достаточно рабочих мест. Зеленоград превратился в типичный город-спутник наподобие Мытищ или Одинцово.</p><p>Но хоть хорошо — зелень пока осталась.</p>
<img src="https://lh3.googleusercontent.com/-c8HIlTzXNbs/WsPQUPdJa3I/AAAAAAAAPLE/0bKLE33NelQLGDj-uOsH9ITkNHHwp3-WwCHMYBhgL/s2500/zelen14.jpg" width="1400" class="img-responsive" />
    
    </div>

{% include footer.md %}
